@using Jendy.Core.Application.ViewModels.User;
@model List<UserViewModel>;

@{
}

<div class="container">
    
    <div style="display: flex; justify-content: end;">


        <div class="text-center "  style="width: 1200px">


            @foreach (var posts in ViewBag.Posts)
            {
                <div class="card mx-auto mt-5" style="width: 800px;">
                    <!-- Imagen pequeña del creador y nombre -->
                    <div class="card-header d-flex align-items-center ">
                        <img src="@posts.UserImageUrl" class="rounded-circle" alt="Creador" style="width: 40px; height: 40px; object-fit: cover;">
                        <h6 class="card-title ms-2 mb-0 ml-2">@posts.UserName</h6>
                    </div>
                    <!-- Texto de la publicación -->
                    <div class="card-body">
                        <p class="card-text">@posts.Message</p>
                        <!-- Imagen principal de la publicación (opcional) -->
                        @if (@posts.MultimediaUrl != "")
                        {
                            @if (posts.MultimediaUrl.Contains("Images"))
                            {
                                <img src="@posts.MultimediaUrl" class="card-img-top mt-3" alt="Publicación" style="width: 100%; max-height: 240px; object-fit: contain;" />
                            }
                            else
                            {
                                <iframe width="720px" height="440" src="https://www.youtube.com/embed/@posts.MultimediaUrl" title="{VIDEO_TITLE}"
                                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }
                        }
                        <p>@posts.CreatedTime.ToShortDateString()</p>
                    </div>
                    <div class="card-footer">
                        <h6 class="mb-2">Comentarios</h6>
                        @foreach (var comment in ViewBag.Comments)
                        {
                            @if (comment.PostId == posts.Id)
                            {
                                <div class="d-flex align-items-start mb-3">
                                    <img src="@comment.UserImage" class="rounded-circle me-2" alt="Usuario" style="width: 30px; height: 30px; object-fit: cover;">
                                    <div>
                                        <h6 class="mb-0">@comment.Username</h6>
                                        <p class="mb-0">@comment.Message</p>
                                        <small class="text-muted">fecha actual</small>

                                        <!-- Sección de respuestas -->
                                        <div class="ml-4">
                                            @foreach (var reply in ViewBag.Replies)
                                            {

                                                @if (reply.CommentId == comment.Id)
                                                {
                                                    <div class="d-flex align-items-start mb-3">
                                                        <img src="@reply.UserImage" class="rounded-circle me-2" alt="Usuario" style="width: 30px; height: 30px; object-fit: cover;">
                                                        <div>
                                                            <h6 class="mb-0">@reply.Username</h6>
                                                            <p class="mb-0">@reply.Message</p>
                                                            <small class="text-muted">fecha actual</small>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>

                                        <!-- Botón para mostrar/ocultar el formulario de respuesta -->
                                        <a class="toggleReplyForm" style="cursor: pointer" data-comment-id="@comment.Id">Responder</a>

                                        <!-- Formulario para agregar respuesta, inicialmente oculto -->
                                        <form class="replyForm" asp-controller="Post" asp-action="AddReply" method="post" style="display:none;" data-comment-id="@comment.Id">
                                            <input type="hidden" name="postid" value="@comment.Id" />
                                            <input type="hidden" name="ctrl" value="Friends" />


                                            <input type="hidden" name="commentid" value="@comment.Id" />
                                            <div class="form-group">
                                                <textarea class="form-control" name="msg" rows="2" placeholder="Escribe una respuesta..."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary mt-2">Responder</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                        <!-- Botón para mostrar/ocultar el formulario de comentario -->
                        <a class="toggleCommentForm btn btn-primary mt-2 mb-2" data-post-id="@posts.Id">Comentar</a>
                        <!-- Formulario para agregar nuevo comentario -->
                        <form class="commentForm" asp-controller="Post" asp-action="AddComment" method="post" style="display:none;" data-post-id="@posts.Id">
                            <input type="hidden" name="postid" value="@posts.Id" />
                            <input type="hidden" name="ctrl" value="Friends" />
                            <div class="form-group">
                                <textarea class="form-control" name="msg" rows="2" placeholder="Escribe un comentario..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">Comentar</button>
                        </form>
                    </div>
                </div>
            }

        </div>

       <div class="container mt-5" style="width: 400px;">
    <!-- Botón para buscar nuevos amigos -->
    <div class="d-flex justify-content-center mb-4">
        <a asp-controller="Friends" asp-action="NewFriends" class="btn btn-success" style="width: 100%;">Buscar nuevos amigos</a>
    </div>

    <!-- Lista de amigos -->
    @foreach (var user in ViewBag.Amigos)
    {
        <div class="card mb-3" style="width: 100%;">
            <div class="d-flex justify-content-center mt-3">
                <img src="@user.ImageUrl" class="rounded-circle" alt="Profile Picture" style="width: 100px; height: 100px; object-fit: cover; border: 5px solid white;">
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">@user.UserName</h5>
                <a asp-controller="Friends" asp-action="RemoveFriend" asp-route-id="@user.Id" class="btn btn-danger">Eliminar Amigo</a>
            </div>
        </div>
    }
</div>
    </div>
</div>